<!--
  Generated template for the TimesheetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Timesheet</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
  

  
  <p>
    <button ion-button color="dark" block (click)="goToTimesheetAddPage()"> Add Timesheet Entry</button>
  </p>
  <p>
    <button ion-button color="dark" block (click)="goToTimesheetUserCalendarPage()"> View Timesheet</button>
  </p>
</ion-content>
