<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<meta http-equiv="Content-Security-Policy" content="default-src 'self' chstest.ausbiotimemachine.com.au">
<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    
    <ion-col>
      <img src="assets/img/ws.png"/>
    </ion-col>
   
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button color="dark" class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>