<!--
  Generated template for the WarningDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-border>

    <ion-list-header>
      {{warning.lname}}, {{warning.fname}}
    </ion-list-header>

    <ion-item>
      <ion-icon name='clipboard' item-start></ion-icon>
       {{warning.empNo }}
      <ion-note item-end>
        Employee Id
      </ion-note>
    </ion-item>

   <ion-item>
      <ion-icon name='man' item-start></ion-icon>
       {{warning.empPosition }}
      <ion-note item-end>
        Position
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='phone-portrait' item-start></ion-icon>
      {{warning.empMobile}}
      <ion-icon name='call' item-end color="secondary" (click)="call(warning.empMobile)"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='people' item-start></ion-icon>
      {{warning.reportsTo}}
      <ion-note item-end>
        Report's To
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name='body' item-start></ion-icon>
       {{warning.reportsToPosition }}
       <ion-note item-end>
        Report's To Position
      </ion-note>
    </ion-item>
    
      
      <ion-item>
        <ion-icon name='phone-portrait' item-start></ion-icon>
        {{warning.reportsToMobile}}
        <ion-icon name='call' item-end color="secondary" (click)="call(warning.reportsToMobile)"></ion-icon>
     </ion-item>
      
     



  </ion-list>




  
</ion-content>