<!--
  Generated template for the LeaveApprovalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Approvals</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-group>
            <ion-item-divider color="dark">Timesheet</ion-item-divider>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsLastMondayDate)">
              <ion-label> Mon {{apdto.pendingTsLastMondayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsLastMonday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsLastTuesdayDate)">
              <ion-label>Tue {{apdto.pendingTsLastTuesdayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsLastTuesday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsLastWednesdayDate)">
              <ion-label>Wed {{apdto.pendingTsLastWednesdayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsLastWednesday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsLastThursdayDate)">
              <ion-label>Thu {{apdto.pendingTsLastThursdayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsLastThursday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsLastFridayDate)">
              <ion-label>Fri {{apdto.pendingTsLastFridayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsLastFriday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsLastSaturdayDate)">
              <ion-label>Sat {{apdto.pendingTsLastSaturdayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsLastSaturday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsLastSundayDate)">
              <ion-label>Sun {{apdto.pendingTsLastSundayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsLastSunday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsMondayDate)">
              <ion-label>Mon {{apdto.pendingTsMondayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsMonday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsTuesdayDate)">
              <ion-label>Tue {{apdto.pendingTsTuesdayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsTuesday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsWednesdayDate)">
              <ion-label>Wed {{apdto.pendingTsWednesdayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsWednesday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsThursdayDate)">
              <ion-label>Thu {{apdto.pendingTsThursdayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsThursday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsFridayDate)">
              <ion-label>Fri {{apdto.pendingTsFridayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsFriday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsSaturdayDate)">
              <ion-label>Sat {{apdto.pendingTsSaturdayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsSaturday}}</ion-note>
            </ion-item>
            <ion-item detail-push (click)="goToTimesheetApproval(apdto.pendingTsSundayDate)">
              <ion-label>Sun {{apdto.pendingTsSundayDate}}</ion-label>
              <ion-note item-end>{{apdto.pendingTsSunday}}</ion-note>
            </ion-item>
          </ion-item-group>
        <ion-item-group>
          <ion-item-divider color="dark">Leave Request</ion-item-divider>
          <ion-item detail-push (click)="goToViewLeaveApprovalGroup()">
            <ion-label>
              Pending
            </ion-label>
            <ion-note item-end>
              {{apdto.pendingLrCount}}
            </ion-note>
          </ion-item>
        </ion-item-group>
      </ion-list>
  <!--<p>
    <button ion-button color="dark" block (click)="goToViewLeaveApprovalGroup()"> View Leave Request To Approve</button>
  </p>-->
</ion-content>
