<!--
  Generated template for the TeamCalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
      <ion-title>{{viewTitle}}</ion-title>
      <ion-buttons end>
          <button ion-button [disabled]="isToday" (click)="today()">Today</button>
          <button ion-button (click)="changeMode('month')">M</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header">
  <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            [queryMode]="calendar.qMode"
            [formatDayHeader]=formatDayHeader
            [allDayLabel]=allDayLabel
            [noEventsLabel]=noEventsLabel
            [startingDayMonth]=startingDayMonth
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onRangeChanged)="onRangeChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30">
  </calendar>
</ion-content>