<!--
  Generated template for the TimesheetViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Timesheet - {{searchDto.attendanceDateStart}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Employee</ion-label>
    <ion-select [(ngModel)]="filterName">
      <ion-option selected [value]="All">All</ion-option>
      <ion-option *ngFor="let employee of employees.list" [value]="employee.name">{{employee.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Cost Centre</ion-label>
    <ion-select [(ngModel)]="filterCostCentre">
      <ion-option selected [value]="'All'">All</ion-option>
      <ion-option *ngFor="let costCentreCode of costCentreCodes" [value]="costCentreCode">{{costCentreCode}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Status</ion-label>
    <ion-select [(ngModel)]="filterStatus">
      <ion-option selected [value]="'All'">All</ion-option>
      <ion-option [value]="'Pending'">Pending</ion-option>
      <ion-option [value]="'Approved'">Approved</ion-option>
      <ion-option [value]="'Verified'">Verified</ion-option>
    </ion-select>
  </ion-item>
  <ion-row justify-content-end>
    <ion-col col-9 align-self-center>
      <button (click)="goToPrev()" ion-button start color="dark">Prev</button>
    </ion-col>
    <ion-col col-3 align-self-center>
      <button (click)="goToNext()" ion-button end color="dark">Next</button>
    </ion-col>
  </ion-row>
  <ion-list>
     
    <ion-item-sliding *ngFor="let timesheetMobileDto of timesheetMobileDtos | timesheetCostCentreFilter:{costCentre:filterCostCentre} | timesheetEmployeeFilter:{name:filterName} |timesheetStatusFilter:{approved:filterStatus} as fl; let i =index">
       
      <ion-item color="{{setColor(timesheetMobileDto)}}" (click)="showApprovalAllOption(fl)">

        <ion-row justify-content-end>
          <ion-col col-4 align-self-center>
            <h2>{{timesheetMobileDto.name}}</h2>
            <h2>{{timesheetMobileDto.username}}</h2>
            <p>Cost Centre: {{timesheetMobileDto.costCentre}}</p>
            <p>Date: {{convertDate(timesheetMobileDto.date)}}</p>
            <p> 
              <ion-icon *ngIf="timesheetMobileDto.note!=null && timesheetMobileDto.note!=''" name="information-circle"></ion-icon>
              <ion-icon *ngIf="timesheetMobileDto.breakEndLocation!=null || timesheetMobileDto.breakStartLocation!=null || timesheetMobileDto.startTimeLocation!=null || timesheetMobileDto.endTimeLocation!=null" name="pin"></ion-icon>
            </p>
            
            <!--<p>Approved: {{timesheetMobileDto.approved}}</p>
          <p>Verified: {{timesheetMobileDto.supVerified}}</p>-->
          </ion-col>

          <ion-col col-4 offset-4 align-self-center>
            <p class="app-font-25">{{calculateTotalHours(timesheetMobileDto)}}</p>
            <h2>{{timesheetMobileDto.transCode}}</h2>

          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options>
          <!--<button (click)="getFl(fl)">getList</button>-->
        <button *ngIf="timesheetApproval==='EDIT' && timesheetMobileDto.approved !== true" ion-button color="dark" icon-start (click)="approveTimesheet(timesheetMobileDto)">
          <ion-icon name="ios-person-add"></ion-icon>
          Approve
        </button>
        <button *ngIf="timesheetApproval==='EDIT' && timesheetMobileDto.approved === true" ion-button color="dark" icon-start (click)="unapproveTimesheet(timesheetMobileDto)">
            <ion-icon name="ios-person-add"></ion-icon>
            Un.Approve
          </button>
        <button *ngIf="timesheetApproval==='VIEW' && timesheetMobileDto.approved !== true && timesheetMobileDto.supVerified !== true" (click)="verifyTimesheet(timesheetMobileDto)" ion-button color="dark" icon-start>
          <ion-icon name="ios-person-add"></ion-icon>
          Verify
        </button>
        <button *ngIf="timesheetApproval==='VIEW' && timesheetMobileDto.approved !== true && timesheetMobileDto.supVerified === true" (click)="unverifyTimesheet(timesheetMobileDto)" ion-button color="dark" icon-start>
            <ion-icon name="ios-person-add"></ion-icon>
            Un.Verify
          </button>
        <button (click)="getTimesheetDetails(timesheetMobileDto)" ion-button color="dark" icon-start>
          <ion-icon name="ios-person-add"></ion-icon>
          Details
        </button>
        <button (click)="addNewLine(timesheetMobileDto,i)" ion-button color="dark" icon-start>
          <ion-icon name="ios-person-add"></ion-icon>
          Add New Line
        </button>

      </ion-item-options>

     
    </ion-item-sliding>

    <ion-item *ngIf="timesheetMobileDtos===null || timesheetMobileDtos.length===0">
      <h2>No Timesheets</h2>
    </ion-item>
  </ion-list>
</ion-content>