<!--
  Generated template for the LeaveRequestMultiDatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Leave Request</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    
    <ion-list>
      <ion-list-header>
        New Multiple Dates Leave Request
      </ion-list-header>
      
      <ion-item>
        <ion-label>Date From</ion-label>
        <ion-datetime displayFormat="DDD DD/MM/YYYY"  pickerFormat="DD MMM YYYY" max="2027-12-31" [(ngModel)]="newShift.dateRangeFrom" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Date To</ion-label>
        <ion-datetime displayFormat="DDD DD/MM/YYYY"  pickerFormat="DD MMM YYYY" max="2027-12-31" [(ngModel)]="newShift.dateRangTo" placeholder="Select Date"></ion-datetime>
      </ion-item>
  
      <ion-item>
        <ion-label>Reason</ion-label>
        <ion-select [(ngModel)]="newShift.allocation" placeholder="Select Reason" (ngModelChange)="onAllocationChange($event,newShift)">
          <ion-option *ngFor="let allocation of shiftAllocations" [value]="allocation">{{allocation.code}}</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label>Daily Hours</ion-label>
        <ion-input type="number" text-right [(ngModel)]="newShift.leaveHours"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Cost Centre</ion-label>
        <ion-select [(ngModel)]="newShift.costCentreCode" placeholder="Select Cost Centre">
          <ion-option  *ngFor="let costCentreCode of costCentreCodes" [value]="costCentreCode">{{costCentreCode}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item-sliding>
        <ion-item detail-push>
          <ion-label>Attachment</ion-label>
          <div item-content>
            <p [hidden]="lastImage === null" (click)="zoomImage(lastImage)">{{lastImage}}</p>
          </div>
          
        </ion-item>
        <ion-item-options side="right">
          <button ion-button item-end ion-button color="dark" (click)="presentActionSheet()">
            <ion-icon name="camera"></ion-icon>
          </button>
          <button [hidden]="lastImage === null" ion-button color="danger" (click)="deleteImage()">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <button ion-button full color="dark" (click)="saveNewShift()">Submit</button>
  
    
   </ion-list>
    
  </ion-content>
  