<!--
  Generated template for the LeaveRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Leave Request</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
  

  <p>
    <button ion-button color="dark" block (click)="showNewLeaveRequest(shift)">New Single Date Leave Request</button>
  </p>

  <p>
    <button ion-button color="dark" block (click)="showNewMultiLeaveRequest(shift)">New Multiple Date Leave Request</button>
  </p>

  <p>
    <button ion-button color="dark" block (click)="goToLeaveRequestView()">View Leave Request</button>
  </p>
</ion-content>