<!--
  Generated template for the PhotoUploadTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Leave Request</ion-title>
    </ion-navbar>
  
  </ion-header>
  

   <ion-content padding>
    
    <ion-list>
      <ion-list-header>
        New Single Date Leave Request
      </ion-list-header>
      
     <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"  placeholder="Select Date"></ion-datetime>
      </ion-item>
  
      <ion-item>
        <ion-label>Reason</ion-label>
       
      </ion-item>
  
      <ion-item>
        <ion-label>Hours</ion-label>
        <ion-input type="number" text-right></ion-input> 
      
      </ion-item>
  
      <ion-item>
        <ion-label>Cost Centre</ion-label>
       
      </ion-item>
      
      <ion-item-sliding>
        <ion-item detail-push>
          <ion-label>Attachment</ion-label>
          <div item-content>
            <p [hidden]="lastImage === null" (click)="zoomImage(lastImage)">{{lastImage}}</p>
          </div>
          
        </ion-item>
        <ion-item-options side="right">
          <button ion-button item-end ion-button color="dark" (click)="presentActionSheet()">
            <ion-icon name="camera"></ion-icon>
          </button>
          <button [hidden]="lastImage === null" ion-button color="danger" (click)="deleteImage()">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      
      
      <button ion-button full color="dark">Submit</button>
  
    
   </ion-list>
    
   
    
   </ion-content>



