<!--
  Generated template for the TimesheetUserCalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
      <!--<ion-title>{{viewTitle}}</ion-title>-->
      <ion-title>{{tempTitle}}</ion-title>
      <ion-buttons end>
          <button ion-button [disabled]="isToday" (click)="today()">Today</button>
          <button ion-button (click)="changeMode('month')">M</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="has-header">
    <ion-fab left bottom *ngIf="checkClipboard()">
        <button ion-fab color="dark"><ion-icon name="arrow-dropright"></ion-icon></button>
        <ion-fab-list side="right">
          <button ion-fab (click)="pasteTS()"><ion-icon name=""></ion-icon>Paste</button>
          <button ion-fab (click)="openMultiDateCalendar()"><ion-icon name=""></ion-icon>Multi</button>
          <button ion-fab (click)="openRangeCalendar()"><ion-icon name=""></ion-icon>Range</button>
          <button ion-fab (click)="clearClipBoard()"><ion-icon name=""></ion-icon>Clear</button>
    </ion-fab-list>
      </ion-fab>
  <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            [queryMode]="calendar.qMode"
            [formatDayHeader]=formatDayHeader
            [allDayLabel]=allDayLabel
            [noEventsLabel]=noEventsLabel
            [startingDayMonth]=startingDayMonth
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onRangeChanged)="onRangeChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="15">
  </calendar>
</ion-content>